body {
    font-family: monospace;
    background: #0f172a;
    color: white;
    text-align: center;
    transition: 0.3s;
}

.container {
    margin-top: 40px;
}

.input-section input {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

.outputs {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.output {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    white-space: pre;
    text-align: left;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.actions {
    margin-top: 20px;
}


    padding: 20px;
    border-radius: 10px;
}

.loader {
    border: 5px solid #333;
    border-top: 5px solid #22c55e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px auto;
    display: none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.dark {
    background: white;
    color: black;
}

#qrForm button {
    background: #3b82f6; /* blue for QR */
}

#logoForm button {
    background: #eab308; /* yellow for logo */
}
